{% extends "base.html" %}

{% block content %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                {% for i in range(record|count-1) %}
                    <th scope="col">{{ records[0] }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    {% for i in range(record|count-1) %}
                        <td>{{ record[i][1] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}