{% extends "base.html" %}

{% block content %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"># Expediente</th>
                <th scope="col">Nombre</th>
                <th scope="col">Departamento</th>
                <th scope="col">Genero</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user._id }}</td>
                    <td>{{ user.data.nam }} {{ user.data.lst }}</td>
                    <td>{{ user.data.dpt }}</td>
                    <td>{{ user.data.gnd }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}